---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Personal Homepage Demo',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Github', href: 'https://github.com/franzesegiovanni' },
      ]}
      actions={[
        {
          text: 'Website',
          href: 'https://franzesegiovanni.github.io/aboutme/',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Giovanni Franzese, Ph.D."
    tagline="Manipulation Researcher"
    actions={[{ variant: 'primary', text: 'Contact me', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
       Giovanni is a Postdoctoral researcher in Robotics at TU Delft in the Netherlands. He obtained his Ph.D. in 2024 from TU Delft with the thesis named Uncertainty-aware Interactive Imitation Learning for Robot Manipulation. During his Ph.D. he focused on estimation and rejection of uncertainty in robot learning and algorithm design to allow robot to fastly learn from human demonstration and corrections. 
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon:
        'tabler:school',
        callToAction: {
          target: '_blank',
          text:
          'Google Scholar',
          href: 'https://scholar.google.com/citations?hl=nl&user=F1weUA8AAAAJ',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/giovanni-franzese/',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://github.com/franzesegiovanni',
        },
      },
    ]}
    image={{
      src: '~/assets/images/giovanni.png',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About Giovanni</h2>
      <p>
He is passionate about developing algorithms that enable robots to learn complex manipulation tasks from human demonstration and feedback. With experience in programming real robot controllers and training machine learning models, he has deployed controllers for Franka Emika robots in universities worldwide, supporting research for scientists and students. He advocates open science and he is committed for tackling the complex problem of robot manipulation to improve the quality of life of people.
      </p>
      <br />
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

<!-- Steps Widget ****************** -->

<Steps
  id="resume"
  title="Work experience"
  items={[
    {
      title: 'Postdoctoral Researcher <br /> <span class="font-normal">Delft University of Technology, Delft, Netherlands</span> <br /> <span class="text-sm font-normal">Sep. 2023 - Present</span>',
      description: `Mentored by Cosimo Della Santina. Part of the <a href="https://nxtgenhightech.nl/en/agrifood/">NXTGEN high-tech agri-food Project</a>. <br /> Managed the Franka Emika lab of Cognitive Robotics at TU Delft, exploring learning-based methods for low-cost, soft, and deformable hardware, with a focus on generalizing manipulation skills in tomato plant de-leafing.`,
      icon: 'tabler:briefcase',
    },
    {
      title: 'Team Leader, PLATOnics Team <br /> <span class="font-normal">Delft University of Technology, Delft, Netherlands</span> <br /> <span class="text-sm font-normal">2023 - 2024</span>',
      description: `Led PLATOnics team for the EUrobin Manipulation Skill Versatility Challenge 2024 and the Robothon Manipulation Challenge 2023. <br /> Developed a solution based on human demonstrations, awarded as the best versatility solution at IROS 2024.`,
      icon: 'tabler:briefcase',
    },
    {
      title: 'Visiting Ph.D. in Statistical Machine Learning <br /> <span class="font-normal">University College London (UCL), London, United Kingdom</span> <br /> <span class="text-sm font-normal">Sep. 2022 - Feb 2023</span>',
      description: `Mentored by Marc Deisenroth. Focused on variational inference learning methods for calibrated classification on high-dimensional inputs, including images and graphs.`,
      icon: 'tabler:briefcase',
    },
    {
      title: 'Ph.D. in Interactive Imitation Learning for Robotics <br /> <span class="font-normal">Delft University of Technology, Delft, Netherlands</span> <br /> <span class="text-sm font-normal">June 2019 - June 2023</span>',
      description: `Thesis: "Uncertainty-aware Interactive Imitation Learning for Robot Manipulation." Mentored by Jens Kober and Luka Peternel. Supported by ERC grant TERI (Teaching Robot Interactively).`,
      icon: 'tabler:briefcase',
    },
    {
      title: 'Lecturer for MSc Course on Intelligent Control Systems <br /> <span class="font-normal">Delft University of Technology, Delft, Netherlands</span> <br /> <span class="text-sm font-normal">2022-24</span>',
      description: `Lectured on Gaussian Processes for Robotics and Control.`,
      icon: 'tabler:briefcase',
    },
  ]}
  classes={{ container: 'max-w-3xl' }}
/>

<!-- Steps Widget ****************** -->

  <!-- Features3 Widget ************** -->

<Features3
  title="Skills"
  subtitle="A snapshot of the skills and expertise I bring to robotics and machine learning."
  columns={3}
  defaultIcon="tabler:point-filled"
  items={[
    {
      title: 'Robot Control',
      description: 'Variable Impedance Control for Single and Bimanual Manipulation. Safe human-robot interaction.',
    },
    {
      title: 'Robot Learning',
      description: 'Low-level and high-level skill learning from human interactive demonstrations.',
    },
    {
      title: 'Machine Learning',
      description: 'Experience in Gaussian Process, Epistemic Uncertainty Estimation, Calibration, and Variational Inference.',
    },
  ]}
/>


  <!-- Content Widget **************** -->


  <!-- CallToAction Widget *********** -->

<CallToAction
  title="Let's teach robots together"
  subtitle="Ready to make robot do great things? Let's work together to make it happen. "
  actions={[
    {
      variant: 'primary',
      text: 'Contact me',
      href: 'mailto:g.franzese@tudelft.nl?subject=Let\'s%20collaborate&body=Hi%20there!',
    },
  ]}
/>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
