---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Personal Homepage Demo',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Github', href: 'https://github.com/MRamirez25' },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Mariano Ramirez Montero"
    tagline="PhD Candidate"
    actions={[{ variant: 'primary', text: 'Contact me', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      I'm Mariano, a PhD candidate at the Cognitive Robotics department of the TU Delft in the Netherlands.
      I have experience with manipulation and imitation learning, and my current line of work aims to use
      non-linear dynamical systems as a tool in machine learning algorithms. For example, in a reservoir computing
      setting, but also as a useful prior to structure latent spaces to learn complex dynamics. 
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/mariano-ram%C3%ADrez-montero-5a5427206/',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://github.com/MRamirez25',
        },
      },
    ]}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
     <p>
        I find the field of robotics to be an incredibly interesting one, especially in a time where new developments happen
        so fast and we are all still trying to discover how to make intelligent and useful robotics. With my research 
        I hope to contribute to a future of robotics where they make our lives easier, while also helping us address 
        the big challenges we face as a society. 
      </p>
      <br />
      <p>Feel free to take a look at my Github and LinkedIn:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `MSc in Robotics <br /> <span class="font-normal">Delft University of Technology</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>`,
        icon: 'tabler:school',
      },
      {
        title: `BSc in Aerospace Engineering <br /> <span class="font-normal">Delft University of Technology</span> <br /> <span class="text-sm font-normal">2014 - 2018</span>`,
        icon: 'tabler:school',
      },
      {
        title: `International Baccalaureate <br /> <span class="font-normal">United World College Changshu China</span> <br /> <span class="text-sm font-normal">2014 - 2018</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- BlogLatestPost Widget **************** -->

</Layout>
