---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Personal Homepage Demo',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Github', href: 'https://github.com/maxspahn' },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Max Spahn"
    tagline="Research Scientist (Ph.D.)"
    actions={[
      {
        variant: 'primary',
        text: 'Contact me',
        href: 'mailto:m.spahn@tudelft.nl'
      },
      {
        variant: 'secondary',
        text: 'Geometric Fabrics',
        href: 'https://github.com/tud-amr/fabrics'
      },
    ]}
  >
    <Fragment slot="subtitle">
      I am Max Spahn and I am currently a Postdoctoral researcher in Robotics @
      TU Delft in the Netherlands. My focus is trajectory generation and
      reactive motion planning for robotics in the presence of obstacles.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon:
        'tabler:brand-google',
        callToAction: {
          target: '_blank',
          text:
          'Google Scholar',
          href: 'https://scholar.google.com/citations?user=r5MT42cAAAAJ&hl=en&oi=ao',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/max-spahn/',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://github.com/maxspahn',
        },
      },
    ]}
    image={{
      src: '~/assets/images/max.jpeg',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        While my research focus in applied differential geometry for trajectory
        generation, my passion for software development and my eager to 
        compete with the best researchers in competitive robotics has led me
        join the Platonics.
      </p>
      <p>
        During my Ph.D. @ TU Delft, I have been working mainly on model
        predictive control and geometric fabrics for motion planning. 
        Due to the project funding, I applied the developed methods for retail
        environments.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Research Scientist <br /> <span class="font-normal">ABB Research</span> <br /> <span class="text-sm font-normal">01/2025 - Present</span>',
          description: ``,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Ph.D. Candidate <br /> <span class="font-normal">Delft University of Technology, Delft, Netherlands</span> <br /> <span class="text-sm font-normal">01/2020 - 12/2024</span>',
          description: `<b>Thesis</b>: Trajectory Generation beyond Model Predictive Control (Defense November 2024)<br> Reactive trajectory generation for high-dimensional robots  <br>Using the geometry of the robot’s configuration space to generate consistent <br>Combining several research projects into a proof-of-concept demonstration in supermarket automation`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Master of Science in Mechanical Engineering <br /> <span class="font-normal">RWTH Aachen, Germany</span> <br /> <span class="text-sm font-normal">09/2013 - 11/2019</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Master of General Engineering <br /> <span class="font-normal">École Central Supélec, Paris, France</span> <br /> <span class="text-sm font-normal">07/2015 - 09/2017</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->


</Layout>
