---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'User Interface',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="User Interface"
    actions={[
      { text: 'Learn more', href: 'https://lp.franka.de/news/franka-emika-hosts-hackathon-at-european-robotics-forum-2022' },
    ]}
  >
    <Fragment slot="title">
      The <span class="text-accent dark:text-white highlight">Platonics</span>
      provide a physical interface and a GUI
    </Fragment>

    <Fragment slot="subtitle">
      By leveraging the power and accessibility of the robot, we facilitate the
      teaching of new robot skills. Everything is supervised through an
      appealing web GUI.
    </Fragment>

  </Hero>


</Layout>
