---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Robots in Business 2024',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Robots in Business 2024"
    actions={[
      { text: 'Learn more', href: 'https://www.tudelft.nl/en/evenementen/2024/tu-delft/join-or-demonstrate-at-robots-in-business#:~:text=On%20Friday%20November%2015%2C%202024,science%20and%20business%20come%20together.' },
    ]}
  >
    <Fragment slot="title">
      The <span class="text-accent dark:text-white highlight">Platonics</span>
      will showcase their approach and are open for future colaborations.
    </Fragment>

    <Fragment slot="subtitle">
      Get in touch with the latest developments in robotics in the Netherlands
      and meet our team and our solution.
    </Fragment>


  </Hero>

</Layout>
